/**
 * Custom Properties
 *
 * Defining custom properties
 * usage: `color: var(--color-primary);`
 */

 @import "../../scss/0-settings/_variables.scss";

:root {
	// Global paddings
	--container-padding: #{$global-container-padding};

    // Grid settings
    --grid__columns: 4;
    --grid__gap: #{$global-grid-gap};
    --grid__overlay--color: #3e0077;

    // Font stacks
    --font__copy: sans-serif;
	--font__copy--weight: 300;
	--font__copy--size: 1.125rem;
	--font__copy--line-height: 1.3;
    --font__heading: sans-serif;
    --font__heading--weight: 400;
    --font__heading--line-height: 1.3;
    --font__heading-size--primary: 2.5rem;
    --font__heading-line-height--primary: var(--font__heading--line-height);
    --font__heading-size--secondary: 2.125rem;
    --font__heading-line-height--secondary: var(--font__heading--line-height);
    --font__heading-size--tertiary: 1.75rem;
    --font__heading-line-height--tertiary: var(--font__heading--line-height);
    --font__heading-size--quaternary: 1.5rem;
    --font__heading-line-height--quaternary: var(--font__heading--line-height);

    // Color by name
    --color__black: #000;
    --color__white: #fff;
    --color__grey: #999;
    --color__red: #721c24;
    --color__red--light: #f8d7da;
    --color__yellow: #856404;
    --color__yellow--light: #fff3cd;
    --color__green: #155724;
    --color__green--light: #d4edda;
    --color__blue: #004085;
    --color__blue--light: #cce5ff;

    // Color by usage
    // -> Brand colors
    --color__primary: #384853;
    --color__secondary: #606c74;
    --color__tertiary: #7091a5;
    --color__accent:  #4285f4;

    // -> Fromatting colors
    --color__site-background: var(--color__white);
    --color__links: var(--color__accent);
    --color__links--hover: var(--color__primary);

    // -> Validation colors
    --color__error: var(--color__red);
    --color__error--light: var(--color__red--light);
    --color__error--dark: var(--color__red);
    --color__error--accent: var(--color__red);
    --color__warning: var(--color__yellow);
    --color__warning--light: var(--color__yellow--light);
    --color__warning--dark: var(--color__yellow);
    --color__warning--accent: var(--color__yellow);
    --color__success: var(--color__green);
    --color__success--light: var(--color__green--light);
    --color__success--dark: var(--color__green);
    --color__success--accent: var(--color__green);
    --color__notice: var(--color__blue);
    --color__notice--light: var(--color__blue--light);
    --color__notice--dark: var(--color__blue);
    --color__notice--accent: var(--color__blue);

    // Media Queries
    --mq__mobile: #{$mq-mobile};
    --mq__tablet: #{$mq-tablet};
    --mq__desktop: #{$mq-desktop};
    --mq__wide: #{$mq-wide};

    // Animation
    --animation__duration: 400ms;
    --animation__timing-function: ease-in-out;

    // Misc
    --adminbar__height--narrow: 32px;
    --adminbar__height: 46px;
    --global__radius: 0.3125rem;
    --profile-image__border-radius: var(--global__radius);

    @media (--mobile) {
    }

    @media (--tablet) {
        // Font stacks
        --font__copy--size: 1.375rem;
        --font__heading-size--primary: 3.125rem;
        --font__heading-size--secondary: 2.625rem;
        --font__heading-size--tertiary: 2.25rem;
        --font__heading-size--quaternary: 1.5rem;

        // Global paddings
        --container-padding: calc(#{$global-container-padding} * 1.5);

        // Grid settings
        --grid__columns: 6;
        --grid__gap: calc(#{$global-grid-gap} * 1.5);
        --grid__overlay--color: #005994;
    }

    @media (--desktop) {
        // Global paddings
        --container-padding: calc(#{$global-container-padding} * 2);

        // Grid settings
        --grid__columns: 8;
        --grid__gap: calc(#{$global-grid-gap} * 1.75);
        --grid__overlay--color: #8a0000;
    }

    @media (--wide) {
        // Global paddings
        --container-padding: calc(#{$global-container-padding} * 3);

        // Grid settings
        --grid__columns: 12;
        --grid__gap: calc(#{$global-grid-gap} * 2);
        --grid__overlay--color: #4f9776;
    }
}
