// SCSS variables
$mq-mobile: 36em;
$mq-tablet: 48em;
$mq-desktop: 62em;
$mq-wide: 75em;
$global-container-padding: 1.25rem;
$global-grid-gap: 0.625rem;

$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightBold: 700;

// Configuration
$allow-important: false;

/*
**  Font weights
**  ------------------
**  Will be used
**  Copy the used ones into the $fontWeights variable
**  ------------------
**  Options:

    thin: 100,
    extra-light: 200,
    ultra-light: 200,
    light: 300,
    normal: 400,
    book: 400,
    regular: 400,
    medium: 500,
    semi-bold: 600,
    demi-bold: 600,
    bold: 700,
    extra-bold: 800,
    heavy: 800,
    ultra-bold: 900

**
*/

$fontWeights: (
    light: 300,
    regular: 400,
    bold: 700,
);


/*
**  Spaces
**  ------------------
**  Will be used for paddings and margins
**  Just add, adapt or remove entries in the scss map
**  the scss will do the rest
**  ------------------
**  Usage:
**  - HTML: class="margin__bottom--large"
**  - SCSS: @extend %margin__bottom--large;
*/

$spaces: (
    small: 1.25rem,
    medium: 1.875rem,
    large: 3.125rem
);