%container {
    margin-left: auto;
    margin-right: auto;
    max-width: calc((var(--container-padding) * 2) + var(--content-width));
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    width: 100%;

    &--wide {
        @media (min-width: 950px) {
            left: calc(50% - 50vw);
            margin-left: -125px;
            margin-right: -125px;
            max-width: 100vw;
            position: relative;
        }
    }

    &--full {
        left: calc(50% - 50vw);
        position: relative;
        width: 100vw;
    }
}
